 <!-- <div class="jumbotron">
   <h1 class="title" style="color:#EF6C00">Music Is Magic</h1>
   <p class="slogan">X's Music Studio 与你一起 为音乐沸腾

   </p>
   <p class="lead"><a class="btn btn-lg btn-danger"  href="/jobs">马上应征</a></p>
 </div> -->
<style>
.container {
    padding: 50px 120px;
}
p strong{
  /*color:gray;*/
}
.person{
  border: 10px solid transparent;
  width: 60%;
  height: 60%;

  /*opacity: 0.5;*/
}
.person:hover{
  border-color:#f1f1f1;
}
</style>
<div class="col-md-12" style="padding-bottom:50px;">
  <div id="leftDiv">
    <a href="/jobs"><img src="https://ww2.sinaimg.cn/large/006y8lVagy1fc551qhpwkj31kw23vhdu.jpg" style="width:100%;"></a>
    <a href="/jobs"><img src="https://ww4.sinaimg.cn/large/006y8lVagy1fc553heur2j31kw1131l1.jpg" style="width:100%;"></a>
  </div>
  <div id="middleDiv">
    <a href="/jobs"><img src="https://ww2.sinaimg.cn/large/006y8lVagy1fc552qt0nbj31kw11ohdw.jpg" style="width:100%;" ></a>
    <a href="/jobs"><img src="https://ww3.sinaimg.cn/large/006y8lVagy1fc7j22pknjj31kw11xe83.jpg" style="width:100%;"></a>

    <img src="https://ww3.sinaimg.cn/large/006y8lVagy1fc7li83kbij31kw0jnkbr.jpg" style="width:208%;">
    <div id="index-text">与你一起 为音乐沸腾</div>

  </div>
  <div id="rightDiv">
    <a href="/jobs"><img src="https://ww3.sinaimg.cn/large/006y8lVagy1fc552sfncxj31kw11xty7.jpg" style="width:100%;"></a>
    <a href="/jobs"><img src="https://ww1.sinaimg.cn/large/006y8lVagy1fc7lelzfwpj31kw11kkjl.jpg" style="width:100.2%;"></a>
    <!-- <embed src="http://player.youku.com/player.php/sid/XMzcyMjU3MjEy/v.swf"width="300px" height="220px"></embed> -->
 </div>
</div>



  <div class="container text-center">
    <h2 style="font-family:futura;">We love music!</h3>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <p><strong>Singer: Coco</strong></p><br>
        <img class="img-circle person" src="/images/me.jpg" alt="Random Name">
      </div>
      <div class="col-sm-4">
        <p><strong>Guitar Player: Xuan</strong></p><br>
        <img class="img-circle person" src="/images/me2.jpg" alt="Random Name">
      </div>
      <div class="col-sm-4">
        <p><strong>Drummer: Leo</strong></p><br>
        <img class="img-circle person" src="/images/me1.jpg" alt="Random Name">
      </div>
    </div>
  </div>
