 <div class="jumbotron">
   <h1 class="title">Music Is Magic</h1>
   <p class="slogan">Xuan's Music Studio
   <br>
   与你一起，为音乐沸腾
   <br>
    因为，我们...就是梦想
   </p>
   <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
 </div>
