 <!-- <div class="jumbotron">
   <h1 class="title" style="color:#EF6C00">Music Is Magic</h1>
   <p class="slogan">X's Music Studio 与你一起 为音乐沸腾

   </p>
   <p class="lead"><a class="btn btn-lg btn-danger"  href="/jobs">马上应征</a></p>
 </div> -->
<style>
.container {
    padding: 50px 120px;
}
.btn{
  box-shadow: 0 3px 8px grey;
}
p strong{
  /*color:gray;*/
}
.person{
  border: 10px solid transparent;
  width: 60%;
  height: 60%;

  /*opacity: 0.5;*/
}
.person:hover{
  border-color:#f1f1f1;
}
</style>
<video src="/images/show.mp4" controls="controls" autoplay="autoplay" muted loop="loop" mute="mute" class="video-background" ></video>
<div class="row" style="margin-top:-50px;">
<div class="col-md-12" style="padding-bottom:50px;">
  <img src="/images/index.png" width="100%;"/>
  <div class="lead">
    <a class="btn btn-lg btn-danger" href="/jobs">即刻沸腾</a>
  </div>

</div>
</div>



  <div class="text-center" style="color:#ccc;">
    <h2 style="font-family:futura;">We love music!</h3>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <p><strong>Singer: Coco</strong></p><br>
        <img class="img-circle person" src="/images/me.jpg" alt="Random Name">
          <p class="say">
            这里给了我一个最彻底释放的平台，<br />
            唱出自我，实现梦想。
          </p>
      </div>
      <div class="col-sm-4">
        <p><strong>Guitar Player: Xuan</strong></p><br>
        <img class="img-circle person" src="/images/me2.JPG" alt="Random Name">
        <p class="say">
          在X's Music Studio享受最纯粹的音乐时光。
        </p>
      </div>
      <div class="col-sm-4">
        <p><strong>Drummer: Leo</strong></p><br>
        <img class="img-circle person" src="/images/me1.JPG" alt="Random Name">
        <p class="say">
          有一群合拍的人在一起，才能尽情玩耍。<br />来对了就是这里，come on！。
        </p>
      </div>
    </div>
  </div>
<script>
    $(document).ready(function(){
    $(".navbar-fixed-top").css("background-color", "transparent");
    $(".navbar-fixed-top").css("border-color", "transparent");
    $(function () {
    $(document).scroll(function () {
      var $nav = $(".navbar-fixed-top");
      $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
    });
    });

    });
</script>
