<style>
.thumbnail{
  background-color: transparent;
}
</style>
<footer class="container" style="margin-top: 10px;">
  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">

            <!-- <img src="http://y.photo.qq.com/img?s=VfqbvmFVI&l=y.jpg" alt="search" class = "img-thhumbnail"> -->
            <div class="caption">
              <i class="fa fa-map-marker" aria-hidden="true" style="font-size:20px;"></i>
              <h5>新静安大宁国际</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">

            <!-- <img src="http://y.photo.qq.com/img?s=9yBkCQVj7&l=y.jpg" alt="bid" class = "img-thhumbnail"> -->
            <div class="caption">
              <i class="fa fa-envelope-open" aria-hidden="true" style="font-size:20px;"></i>
              <h5>cococardry@gmail.com</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <!-- <img src="http://y.photo.qq.com/img?s=bAQJ8dfF4&l=y.jpg" alt="heart" class = "img-thhumbnail"> -->
            <div class="caption">
              <i class="fa fa-phone" aria-hidden="true" style="font-size:20px;opacity:1"></i>
              <h5>021-66668888</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    <p class="text-center">Copyright ©2016 Job Listing
        <br>Design by Cococardry

    </p>
</footer>
